.container {
  background-color: antiquewhite;
  display: block;
  font-size: 18px;
  height: 500px;
  width: 500px;
}

.popup {
  background-color: #f0f0f0;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  box-sizing: border-box;
  height: 1px;
  width: 1px;
  position: fixed;
  z-index: 2;

  span {
    position: absolute;
    bottom: 10px;
    left: -45px;
    width: 100px;
    border: 1px solid blue;
    background: pink;

    &::after {
      content: " ";
      position: absolute;
      top: 105%;
      left: 45%;
      margin-left: -5px;
      border-width: 10px;
      border-style: solid;
      border-color: blue transparent transparent transparent;
    }
  }

  &.is-constrained {
    border-color: #ff3366;
    border-width: 3px;
  }
}
