.container {
  background-color: antiquewhite;
  display: block;
  font-size: 18px;
  height: 500px;
  width: 500px;
}

.popup {
  background-color: #f0f0f0;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  box-sizing: border-box;
  height: 50px;
  width: 100px;
  position: fixed;
  z-index: 2;

  &.is-constrained {
    border-color: #ff3366;
    border-width: 3px;
  }
}