.container {
  background-color: antiquewhite;
  display: block;
  font-size: 18px;
  height: 500px;
  width: 500px;

  margin-top: 50px;
  margin-left: 50px;

  .bg {
    position: relative;
    height: 500px;
    width: 500px;
  }
}
